body { font-family: 'Montserrat', sans-serif; }

body .carousel-cell { width: 100%; /* full width */ height: 50vh; min-height: 250px; margin-right: 10px; background-size: cover; background-position: center; }

body .carousel-cell .container { max-width: 1200px; margin: 0 auto; }

body .flickity-page-dots { bottom: -22px; }

body .flickity-page-dots .dot { height: 4px; width: 40px; margin: 0; border-radius: 0; }
