body { font-family: 'Montserrat', sans-serif; }

body .main-carousel { position: relative; }

body .main-carousel .carousel-cell { width: 100%; /* full width */ height: 50vh; min-height: 250px; margin-right: 10px; background-size: cover; background-position: center; }

body .main-carousel .carousel-cell .container { max-width: 1200px; margin: 0 auto; }

body .reset { position: absolute; }

body .flickity-page-dots { display: none; }

body .flickity-page-dots .dot { display: none; }

body .progress-bar { height: 20px; width: 0; background: #333; }
