* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
	background-color: orange;
	min-height: 50px;
	nav {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: right;
		}
		li {
			display: inline-block;
			padding: 0 20px;
			transition: .2s;
			&:hover {
		 		background-color: white;
		}
		a {
		 	color: grey;
		 	text-transform: uppercase;
		 	text-decoration: none;
		 	font-weight: 700;
		 	display: block;
		 	line-height: 50px;
		 	}
		}
		img {
		  	padding: 10px 0;
		}
	}
}
	.main-carousel {
		position: relative;
		.carousel-cell {
			width: 100%; /* full width */
			height: 50vh;
			min-height: 250px;
			margin-right: 10px;
			background-size: cover;
			background-position: center;

		  	.container {
				max-width: 1200px; 
				margin: 0 auto;
			}
		}
	}
	.button-group {
		position: absolute;
		top: 50px;
	}
	.flickity-page-dots {
		display: none;
		.dot {
		display: none;
		}
	}
	.progress-bar {
		height: 20px;
		width: 0;
		background: #333;
	}
}
