* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
	.main-carousel {
		position: relative;
		.carousel-cell {
			width: 100%; /* full width */
			height: 50vh;
			min-height: 250px;
			margin-right: 10px;
			background-size: cover;
			background-position: center;

		  	.container {
				max-width: 1200px; 
				margin: 0 auto;
			}
		}
	}
	.button-group {
		position: absolute;
		top: 50px;
	}
	.flickity-page-dots {
		display: none;
		.dot {
		display: none;
		}
	}
	.progress-bar {
		height: 20px;
		width: 0;
		background: #333;
	}