body {
	font-family: 'Montserrat', sans-serif;
	.carousel-cell {
		width: 100%; /* full width */
		height: 50vh;
		min-height: 250px;
		margin-right: 10px;
		background-size: cover;
		background-position: center;

	  	.container {
			max-width: 1200px; 
			margin: 0 auto;
		}
	}
	.flickity-page-dots {
		bottom: -22px;

		.dot {
			height: 4px;
			width: 40px;
			margin: 0;
			border-radius: 0;
		}

	}
	.progress-bar {
		height: 20px;
		width: 0;
		background: #333;
	}
}
